ion-content {
    --background: white;
}

ion-item {
    
    &.extra-margin {
        margin-left: 5px;
        margin-right: 5px;
    }

    &.margin-bottom {
        margin-bottom: 12px;
    } 

    &.align-left {
        text-align: left;
    }

    &:not(:last-child) {
        margin-bottom: 12px;
    }

    &.item-has-focus {
        border: 1px solid var(--ion-color-primary);
    }

    ion-input {
        --padding-top: 4px;
        --padding-bottom: 4px;
    }
}