h6 {
    margin: 0;
}

ion-list {
    background: transparent;
}

.no-req-text {
    padding: 12px;
    color: #404040cf;
}

.no-req-cont {
    display: flex;
    justify-content: center;
}

.popover-toolbar {
    --min-height: 34px;

    ion-title {
        font-size: 16px;
    }
}

.suggested-contacts {
    padding: 0 20px;

    ion-list-header {
        padding: 0;
        font-size: 16px;
    }
}