.preview-cont {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.preview-background {
    height: 100%;
    background: #151515;
}

.image {
    max-height: 90%;
}