.option-dropdown {
    background: #e4e4e4;
    border: 1px solid #bfbfbf;
    position: absolute;
    z-index: 99;
    border-radius: 4px;
    overflow: auto;
}

.spinner-cont {
    width: 100%;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}