.img-container {

    column-count: 3;
    padding: 7px;

}

.image-wrapper {
    display: inline-block;
    margin: 0 2px 10px;
    background: #f8f8ff;
}

.image {
    margin-bottom: -5px;
}

.pages {
    padding: 6px 12px;
    text-align: center;
}