<ion-item lines="none">
  <ion-avatar slot="start">
    <div class="image-div" [ngStyle]="{'background-image': 'url(' + profilePic + ')'}"></div>
  </ion-avatar>
  <ion-label>
    <h2>{{ connection.firstname + ' ' + connection.surname }}</h2>
    <ng-container *ngIf="connection.specialty || connection.grade">
      <h3 class="specialty" *ngIf="connection.specialty">{{ connection.specialty }}</h3>
      <h3 *ngIf="connection.grade">{{ connection.grade }}</h3>
    </ng-container>
    <ng-container *ngIf="connection.profession && (!connection.specialty || !connection.grade)">
      <h3 class="specialty">{{ connection.profession }}</h3>
    </ng-container>

  </ion-label>
  <ion-button slot="end" fill="clear" (click)="addConnection(connection)" *ngIf="!addingConnection">
    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
  </ion-button>
  <ion-spinner name="crescent" color="tertiary" *ngIf="addingConnection"></ion-spinner>
</ion-item>