ion-item {
    --background: transparent;
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
}

h3 {
    color: #505050;
    font-weight: bold;
    margin: 0;
    font-size: 11px;
    margin-top: 1px;

    &.specialty {
        color: #be7928;
    }
}

h2 {
    margin: 0;
    font-size: 14px;
}

ion-button {
    margin: 0;
    color: #898989;
}

ion-avatar {
    overflow: hidden;
    .image-div {
        min-height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}