img {
    max-height: 36vh;
    min-width: 100%;
    object-fit: cover;
}

h6 {
    margin: 0;
    font-size: 14px;
}

.article-text-cont {
    padding: 6px 12px 12px;
}

.article-cont {
    background: #f3f3f3;
    border-bottom: 1px solid #0000000f;
}

.date-published {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 4px;
}