<ion-content fullscreen scroll-y="false">
  <ion-grid style="height: 100%">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size-lg="4" size-md="6" size-sm="12">
        <div class="loading-cont">
          <div class="inner-cont">
            <img #bleeprB src="assets/bleepr-B.png" class="loading-img bleepr-b" />
            <img #bleeprInner src="assets/bleepr-inner-circle.png" class="loading-img bleepr-inner-circle" />
            <img #bleeprMiddle src="assets/bleepr-middle-circle.png" class="loading-img bleepr-middle-circle" />
            <img #bleeprOuter src="assets/bleepr-outer-circle.png" class="loading-img bleepr-outer-circle" />
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-items-uploaded></app-items-uploaded>